@font-face {
  font-family: "Rokkitt";
  src: url("/fonts/rokkitt-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("/fonts/inter-light.woff2");
}

@tailwind base;

@layer base {
  ::selection {
    background: #2ec4b6;
  }

  html {
    font-family: "Inter", sans-serif;
    @apply text-offBlack;
    scroll-behavior: smooth;
  }

  body {
    overscroll-behavior: none;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading subpixel-antialiased;
  }

  p {
    @apply text-lg;
  }
}

@tailwind components;
@tailwind utilities;
