@tailwind base;

@layer base {
  ::selection {
    background: #e7bb41;
    @apply text-offBlack;
  }

  html {
    font-family: "Anek Malayalam", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    overscroll-behavior: none;
    @apply text-offBlack bg-offWhite tracking-wider transition-colors dark:transition-colors dark:text-offWhite dark:bg-[#1c1c1c];
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading pt-6 pb-2;
  }

  p {
    @apply text-xl py-4;
  }

  #bio-img-home {
    border-radius: 49% 51% 16% 84% / 62% 30% 70% 38%;
  }

  /* Text meant only for screen readers. */
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
  }

  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }

  /* Styles for dangerouslySetHTML from individual project pages */

  #scrollspy li {
    @apply pb-2;
  }

  .scrollspy-is-active {
    background-color: yellowgreen;
    border-radius: 15px;
  }

  .post-content {
    @apply container mx-auto max-w-prose pb-8;
  }

  .post-content strong {
    @apply font-bold;
  }

  .post-content blockquote {
    @apply my-4 ml-2 p-8 border-l-4 border-lightGrey;
  }

  .post-content ul {
    @apply list-disc pl-8;
  }

  .post-content a {
    @apply underline underline-offset-2 decoration-wavy decoration-primaryAccent dark:decoration-tertiaryAccent dark:hover:bg-tertiaryAccent/70 hover:bg-tertiaryAccent dark:hover:text-offBlack;
  }
}

@tailwind components;
@tailwind utilities;
